# MOVIE RECOMMENDER SYSTEM
**Content Based Recommender System**

In [ ]:
import pandas as pd
from math import sqrt
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
movies_df = pd.read_csv('movies.csv')
movies_df.head()

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

In [ ]:
movies_df['year'] = movies_df.title.str.extract('(\(\d\d\d\d\))',expand=False)
movies_df['year'] = movies_df.year.str.extract('(\d\d\d\d)',expand=False)
movies_df['title'] = movies_df.title.str.replace('(\(\d\d\d\d\))', '')
movies_df['title'] = movies_df['title'].apply(lambda x: x.strip())
movies_df.head()

   movieId  ...  year
0        1  ...  1995
1        2  ...  1995
2        3  ...  1995
3        4  ...  1995
4        5  ...  1995

[5 rows x 4 columns]

In [ ]:
movies_df['genres'] = movies_df.genres.str.split('|')
movies_df.head()

   movieId  ...  year
0        1  ...  1995
1        2  ...  1995
2        3  ...  1995
3        4  ...  1995
4        5  ...  1995

[5 rows x 4 columns]

In [ ]:
moviesWithGenres_df = movies_df.copy()
for index, row in movies_df.iterrows():
    for genre in row['genres']:
        moviesWithGenres_df.at[index, genre] = 1
moviesWithGenres_df = moviesWithGenres_df.fillna(0)
moviesWithGenres_df.head()

   movieId                        title  ... Film-Noir (no genres listed)
0        1                    Toy Story  ...       0.0                0.0
1        2                      Jumanji  ...       0.0                0.0
2        3             Grumpier Old Men  ...       0.0                0.0
3        4            Waiting to Exhale  ...       0.0                0.0
4        5  Father of the Bride Part II  ...       0.0                0.0

[5 rows x 24 columns]

In [ ]:
userInput = [
            {'title':'Avengers, The', 'rating':4.5},
            {'title':'Avatar', 'rating':4.5},
            {'title':'G.I. Joe: Retaliation', 'rating':3.5},
            {'title':'Pacific Rim', 'rating':4.5},
            {'title':'Tron: Legacy', 'rating':4.0}
         ] 
inputMovies = pd.DataFrame(userInput)
inputMovies

                   title  rating
0          Avengers, The     4.5
1                 Avatar     4.5
2  G.I. Joe: Retaliation     3.5
3            Pacific Rim     4.5
4           Tron: Legacy     4.0

In [ ]:
inputId = movies_df[movies_df['title'].isin(inputMovies['title'].tolist())]
inputMovies = pd.merge(inputId, inputMovies)
inputMovies = inputMovies.drop('genres', 1).drop('year', 1)
inputMovies

   movieId                  title  rating
0     2153          Avengers, The     4.5
1    89745          Avengers, The     4.5
2    72998                 Avatar     4.5
3    82461           Tron: Legacy     4.0
4   101076  G.I. Joe: Retaliation     3.5
5   103228            Pacific Rim     4.5

In [ ]:
userMovies = moviesWithGenres_df[moviesWithGenres_df['movieId'].isin(inputMovies['movieId'].tolist())]
userMovies

       movieId                  title  ... Film-Noir (no genres listed)
2070      2153          Avengers, The  ...       0.0                0.0
14617    72998                 Avatar  ...       0.0                0.0
16373    82461           Tron: Legacy  ...       0.0                0.0
17914    89745          Avengers, The  ...       0.0                0.0
20681   101076  G.I. Joe: Retaliation  ...       0.0                0.0
21264   103228            Pacific Rim  ...       0.0                0.0

[6 rows x 24 columns]

In [ ]:
userMovies = userMovies.reset_index(drop=True)
userGenreTable = userMovies.drop('movieId', 1).drop('title', 1).drop('genres', 1).drop('year', 1)
userGenreTable

   Adventure  Animation  Children  ...  Western  Film-Noir  (no genres listed)
0        1.0        0.0       0.0  ...      0.0        0.0                 0.0
1        1.0        0.0       0.0  ...      0.0        0.0                 0.0
2        1.0        0.0       0.0  ...      0.0        0.0                 0.0
3        1.0        0.0       0.0  ...      0.0        0.0                 0.0
4        1.0        0.0       0.0  ...      0.0        0.0                 0.0
5        1.0        0.0       0.0  ...      0.0        0.0                 0.0

[6 rows x 20 columns]

In [ ]:
userMovies = userMovies.reset_index(drop=True)
userGenreTable = userMovies.drop('movieId', 1).drop('title', 1).drop('genres', 1).drop('year', 1)
userGenreTable

   Adventure  Animation  Children  ...  Western  Film-Noir  (no genres listed)
0        1.0        0.0       0.0  ...      0.0        0.0                 0.0
1        1.0        0.0       0.0  ...      0.0        0.0                 0.0
2        1.0        0.0       0.0  ...      0.0        0.0                 0.0
3        1.0        0.0       0.0  ...      0.0        0.0                 0.0
4        1.0        0.0       0.0  ...      0.0        0.0                 0.0
5        1.0        0.0       0.0  ...      0.0        0.0                 0.0

[6 rows x 20 columns]

In [ ]:
inputMovies['rating']

0    4.5
1    4.5
2    4.5
3    4.0
4    3.5
5    4.5
Name: rating, dtype: float64

In [ ]:
# Dot Product to get weights
userProfile = userGenreTable.transpose().dot(inputMovies['rating'])
userProfile

Adventure             25.5
Animation              0.0
Children               0.0
Comedy                 0.0
Fantasy                0.0
Romance                0.0
Drama                  0.0
Action                25.5
Crime                  0.0
Thriller               3.5
Horror                 0.0
Mystery                0.0
Sci-Fi                21.0
IMAX                  21.0
Documentary            0.0
War                    0.0
Musical                0.0
Western                0.0
Film-Noir              0.0
(no genres listed)     0.0
dtype: float64

In [ ]:
genreTable = moviesWithGenres_df.set_index(moviesWithGenres_df['movieId'])
genreTable = genreTable.drop('movieId', 1).drop('title', 1).drop('genres', 1).drop('year', 1)
genreTable.head()

         Adventure  Animation  Children  ...  Western  Film-Noir  (no genres listed)
movieId                                  ...
1              1.0        1.0       1.0  ...      0.0        0.0                 0.0
2              1.0        0.0       1.0  ...      0.0        0.0                 0.0
3              0.0        0.0       0.0  ...      0.0        0.0                 0.0
4              0.0        0.0       0.0  ...      0.0        0.0                 0.0
5              0.0        0.0       0.0  ...      0.0        0.0                 0.0

[5 rows x 20 columns]

In [ ]:
genreTable.shape

(34208, 20)

In [ ]:
#Multipling the genres by the weights and then taking the weighted average
recommendationTable_df = ((genreTable*userProfile).sum(axis=1))/(userProfile.sum())
recommendationTable_df.head()

movieId
1    0.264249
2    0.264249
3    0.000000
4    0.000000
5    0.000000
dtype: float64

In [ ]:
recommendationTable_df = recommendationTable_df.sort_values(ascending=False)
recommendationTable_df.head()

movieId
6365      1.0
52722     1.0
6934      1.0
101076    1.0
77561     1.0
dtype: float64

# The Recommendation Table

In [ ]:
movies_df.loc[movies_df['movieId'].isin(recommendationTable_df.head(20).keys())]

       movieId  ...  year
5282      5378  ...  2002
6261      6365  ...  2003
6823      6934  ...  2003
7954      8636  ...  2004
11123    46530  ...  2006
11838    52722  ...  2007
13705    68358  ...  2009
14617    72998  ...  2009
15230    77561  ...  2010
16373    82461  ...  2010
17914    89745  ...  2012
20681   101076  ...  2013
20895   101864  ...  2013
21066   102445  ...  2013
21210   103042  ...  2013
21264   103228  ...  2013
22070   106002  ...  2013
22215   106487  ...  2013
23216   110102  ...  2014
23521   111364  ...  2014

[20 rows x 4 columns]